/*

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

*/


body {
    margin: 0px;
}

.tech-images img {
    width: 104px;
    height: 104px;
    margin-bottom: 420px;

}

.tech-images img:hover {
    color: #14AE77;
    opacity: 10;
    transition: all 0.6s;
}


.flex-boxt {
    position: relative;
    transform: translateY(60%);
    top: -12%;
    display: flex;
    align-items: center;
    justify-content: center;
  }




.title {
    position: absolute;

    top: -190%;
    font-family: 'MuseoModerno', cursive;
    font-style: normal;
    font-weight: 200;
    font-size: 70px;
    line-height: 111px;

    color: #CCCCCC;
}

.title2 {
    position: absolute;

    top: -160%;
    font-family: 'MuseoModerno', cursive;
    font-style: normal;
    font-weight: 200;
    font-size: 70px;
    line-height: 111px;

    color: #CCCCCC;
}


.desc {
    position: absolute;

    top: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: light;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #CCCCCC;

}

li {

    font-family: 'Roboto', sans-serif;
    font-style: light;
    font-weight: 300;
    font-size: 24px;
    color: #FFFFFF;
    display: inline;
    margin-left: 30px;
    text-align: center;

}


li:hover {

    font-family: 'Roboto', sans-serif;
    font-style: light;
    font-weight: 300;
    font-size: 24px;
    color: #14AE77;
    display: inline;
    margin-left: 30px;
    text-align: center;
    transition: color 0.6s;
}




.title-sites {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 82px;
    color: #FFFFFF;
}


.button-about {


    width: 358px;
    height: 83px;
    background-color: #749BFF;
    border-radius: 40px;
    margin-bottom: 54%;
    text-align: center;
    transition: 200ms;


}

.txt-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.button-about:hover {

    background-color: rgba(34, 34, 34, 0);
    border-color: white;
    border-style: solid;
    transition: 200ms;
    cursor: pointer;
    transform: scale(1.2);

}

.Projetos {
    bottom: 190px;
}


.Projeto {
    display: block;
    width: 226px;
    height: 253px;
    background: #2A7F92;
    border: 2px solid #FFFFFF;
    border-radius: 14px;
    margin-left: 29px;


}

#title-project {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-top: 265px;

    color: #FFFFFF;
}


.load-txt {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 75px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 29%;
    margin-left: 2%;
}
